*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    align-items: center;
    justify-content:center;
}

.card{
    font-family: Georgia, serif;
    margin-left:2%;
    width: 450px;
    height:300px;
    box-shadow: 0px 0px 5px 5px rgb(200, 197, 197);
}

.card_body h1{
    color: rgb(105, 64, 193);
     display: flex;
     font-size: 50px;
     align-items: center;
     justify-content: center;
     text-decoration:underline;
}

.card_body h3{
    margin-top:3%;
    color: rgb(255, 66, 112);
     display: flex;
     font-size: 30px;
     align-items: center;
     justify-content: center;
}

.btn1{
    margin-top:15px;    
    display: flex;
    justify-content: center;
}

.btn1 button{
    font-size: large;
    color: black;
     padding:2px 10px;
     border-radius: 5px;
     background-color:rgb(114, 252, 176);
}

button:hover{
    background-color: rgb(116, 197, 194);
     color: black;

}









